html
{
  scroll-behavior: smooth;
}

body
{
  margin:0;
  padding:0;
  box-sizing:border-box;
  overflow-x: hidden;
  width:100vw;
  height: 100vh;
}

h1,h2,h3,p,a,.logo
{
font-family: 'Nunito Sans', sans-serif;
}
h1
{
 color: #f56a79;
 margin: 0;
}
h2
{
 font-size: 55px;
 color: #373a40;
 margin: 10px 0;
}
h3
{
  font-size: 2rem;
  text-align: center;
  color: black;
}
p
{
  font-size: 1.8vw;
  font-weight: normal;
  line-height: 40px;
}
nav
{  padding: 0 30px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 14vh;
  background-color: none;
  position:fixed;
  top: 0;
  right: 0;
  left: 0;
  background: none;
  color: white;
  z-index: 2;
}
.boo h1
{
  font-size: 3vw;
}
.Companylogo
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.averxlogo
{
  transition: 1s;
  display: block;
  margin: 7px 20px;
  height: 95px;
}
.averxwrite
{ transition: 1s;
  display: block;
  height: 15px;
  margin: 0 10px;
}
a
{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 88%;
  font-weight: bold;
}

.anchortags
{
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.nav-links
{
  display: flex;
}
.items
{list-style: none;
 padding:0 20px;
}
.navlinks
{
  position: relative;
}
.navlinks::after{
  content:"";
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  height: 2px;
  border-radius: 30px;
  background:orange;
  filter: brightness(100%);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}
.navlinks:hover::after{
    transform:scaleX(1);
    transform-origin: left;
    height: 3px;
}

.symbols
{
  line-height: 30px;
}
.sym
{
  list-style: none;
}
.sym a
{
   text-transform:lowercase;
}
.symba
{
  transition: 1s;
  display: flex;
}
.symbal
{
  transition: 1s;
  font-size: 13px;
  margin: 5px 37px 0 0;
}

.imagext
{transition: 0.8s;
 display:inline-block;
 height: 60px;
 margin-bottom:1px;
 margin-top: 3px;
}
.imagetext
{
  transition: 0.8s;
  display:inline-block;
  height: 10px;
  margin-bottom: 3px;

}
.navlinkes
{
  font-size: 100%;
  font-weight: bold;
}

#video
{
 height: 100vh;
 background-image: url('images/chimney-2823866_1920.jpg');
 background-size: cover;
 overflow: hidden;
 background-attachment: fixed;
 background-repeat: no-repeat;
}
.one p
{
  color:black;
}

#slide2
{
  height: 100vh;
  background-image: url('images/veterinarian-doctor-ready-give-medicine-shot-pig-farm1.jpg');
  background-size: cover;
  overflow: hidden;
  background-attachment: fixed;
  image-rendering:auto;
}
.slide2write
{
  position: relative;
  top: 40%;
  right: 20%;
  font-size: 25px;
}
.slide2write h1,.slide2write p
{
  padding: 0 23%;
  color: white;
}
.slide2write p
{
  color: white;
}
#slide3
{
  height: 100vh;
  background-image: url('images/happy-girl-beagle-puppies-gray.jpg');
  background-size: cover;
  background-attachment:fixed;
  image-rendering:auto;
}
.slide3write
{
  position: relative;
  top: 39vh;
  right: 25%;
  font-size: 25px;
}
.slide3write h1,.slide3write p
{
  padding: 0 30vw;
}
.slide3write
{
  color: black;
}
.Aboutus
{
 width: 100%;
 height: 700px;
 background-color: #DFDEB3;

 display: block;
 position: relative;
}
.aboutTitle
{
  position: absolute;
  padding: 20px 100px;
  margin-top: 40px;
}
.aboutTitle h1
{ color: #132743;
  font-size: 35px;
}
.writeups
{ position: absolute;
  margin: 160px 0 0 100px;
  right: 6%;
  width: 68%;
  height: 472px;
  background-color:none;
  display: block;
  border-radius: 10px;
}
.writeAboutus
{
  padding: 100px 18% 100px 28%;
  position: relative;
  bottom: 50px;
}
.writeAboutus h1
{
   font-size: 20px;
   color: #d7385e;
}
.writeAboutus h2
{
  font-size: 40px;
  margin: 0;
}
.writeAboutus p
{
   font-size: 20px;
   line-height: 30px;
   padding-right:15px;
}

.middle{
  position: absolute ;
  bottom: 0;
  transform: translate(-50%,-50%);
  left: 35%;
}
.btn{
  position: relative;
  left: 19%;
  display: block;
  color: black;
  font-size: 14px;
  text-decoration: none;
  border: 2px solid #ff7675;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn::before{
  background: #ff7675;
  content: "";
  position: absolute;

  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}
.btn3::before{
  width: 0px;
  height: 0px;
  transform: translate(-50%,-50%) rotate(90deg);
}
.btn3:hover::before{
  height: 400px;
  width: 400px;
}
.aboutuspics
{ position: absolute;
  overflow: hidden;
  top: 150px;
  left: 10%;
  width: 30%;
  height: 480px;
  background-color: black;
  display: block;
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  background-image: url('images/spoon4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutuspics img
{ position: relative;
  right: 100px;
  bottom: 50px;
  width: 150%;
}

.values
{
  width: 100%;
  height: 700px;
  background-color: #71CFBD;
  display: block;
  position: relative;
}



.valuewrites
{ position: absolute;
  margin: 120px 0 0 80px;
  width: 68%;
  height: 472px;
  background-color:none;
  display: block;
  border-radius: 10px;
}
.valuepics
{ position: absolute;
  overflow: hidden;
  top: 18%;
  right:8%;
  width: 30%;
  height: 65%;
  background-color: black;
  display: block;
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  background-image: url("images/people-meeting-seminar-office-concept.jpg");
  background-size: cover;
}
.valuepics img
{ position: relative;
  right: 100px;
}
.valuewriteup
{
  padding: 100px 18% 100px 12%;
}


.card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.card .main-content {
  width: 100%;
  height: 100%;
}
.card .main-content img {
  width: 150%;

}
.card .overlay-content {
  width: 100%;
  height: 100%;
  background-color: #ffeac9;
  color: #080808;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  transition: 0.6s;
  top: 0%;
  left: 100%;
  opacity: 0.8;
}
.card:hover .overlay-content {
  /* left: 0; */
  transform: translateX(-100%);
}
.card .overlay-content p {
  text-align: center;
  font-size: 1.4rem;
  margin: 2rem;
  letter-spacing: 1px;
  line-height: 1.75rem;
}
.card .overlay-content p span {
  display: block;
  letter-spacing: normal;
  font-size: 1rem;
  font-style: italic;
  margin-top: 1.25rem;
}

@media (max-width: 576px) {
  .card {
    width: 300px;
    height: 450px;
  }
}

.rect1
{
 width: 100%;
}
.rect1 h1
{
  padding: 50px 0 0 100px;
  color:black;
  font-size: 30px;
}

#parallax
{
  height: 54rem;
  background-image: url('images/backpicture.jpg');
  background-attachment: fixed;
  background-size: cover;
}
/* #parallax img
{width: 100%;

 position: absolute;
} */
.all_product
{
  position: relative;
  width: 100%;
}

.product
{ width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;

}
.drugs_list
{
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:0 2%;
}
.everyproduct
{transition: 0.5s;
  overflow: hidden;
  width: 12rem;
  height: 12rem;
  margin: 0 80px;
  border-radius: 100%;
  background-color: rgba(255,255,255,0.8);
}
.everyproduct:hover
{ transition:0.5s;
  width: 18rem;
  height: 18rem;
  border-radius: 10px;
}
.product1
{
  background-color: #3ebdb7;
}
.product2
{
  background-color: #3ebdb7;
}
.product3
{
  background-color: #3ebdb7;
}
.card .pro {
  width: 100%;
  height: 100%;
  background-color: #3ebdb7;
  color: #080808;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  transition: 1.3s;
  top: 0%;
  left: 100%;
  opacity: 0.8;
}

.andmore
{
  text-align: center;
}
.andmore h1
{
  display: block;
  margin:60px 0 0 0;
  padding: 0;
}
.viewproducts
{
  border-radius: 5px;
  width: 250px;
  height: 50px;
  background-color: #f5b461;
  border: none;
  margin: 55px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}
.product_icon
{
  position: absolute;
  width: 5%;
}
.companyReviews
{
 width: 100%;
 height: 788px;
 background-color:#FBFDE1;
 display: block;
 position: relative;

}
.Reviewstitle
{
  position: absolute;
  padding: 20px 100px;
}
.Reviewstitle h1
{ color: #132743;
  font-size: 35px;
}
.reviews
{ position: absolute;
  margin: 145px 0 0 100px;
  width: 70%;
  height: 70%;
  background-color:#DFDEB3;
  display: block;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description
{
  padding: 100px 200px 100px 100px;
}
.description h1
{
  font-family: 'Nunito Sans', sans-serif;
   font-size: 20px;
   color: #d7385e;
}
.description h2
{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 40px;
  margin: 0;
}
.description p
{
  font-family: 'Sacramento', cursive;
   font-size: 40px;
}
.mySlides
{
  display: none;
}
.picture
{ position: absolute;
  overflow: hidden;
  top: 80px;
  right: 50px;
  width: 30%;
  height: 40%;
  background-color: black;
  display: block;
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  background-image: url("images/laurus-labs-strikes-gold-by-moving-up-the-value-chain-but-theres-a-steeper-climb-ahead-.jpg");
  background-size: cover;
}
.picture img
{
  width: 100%;
}
.contact
{
  background-color: #71CFBD;
  width: 100%;
  height: 550px;
  overflow: hidden;
}
.doghouse
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align:center;
}

.contactitems
{position: relative;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact h2
{
  margin: 0 0 0 100px;
  padding-top: 50px;
  font-size: 30px;
  text-decoration: underline;
}
.contactgif
{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50% 50% 0 0 ;
}
.dog
{
  font-size: 3vw;
  color:#373a40;
}
.contactgif img
{
  position: relative;
  width: 180%;
  right: 40%;
}
.maps
{
  /* position: relative;
  top: 10%;
  left:70%;
  overflow: hidden;
  border-radius: 10px;
  width: 300px;
  height: 200px; */
}
.glinks
{
 display: flex;
 flex-direction: column;
}
.glinks a
{ margin: 10px;
  text-decoration: none;
  color: #373a40;
  font-size: 15px;
}
.glinks .fas
{
   font-size:20px;
}
.backdrop-blur {
  background-color: #373a40;
  height: 5rem;
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
  .backdrop-blur {
    transition: 0.5s;
    background-color: rgba(255,255,255,0.8);
    -webkit-backdrop-filter: blur(20px);

    backdrop-filter: blur(20px);
  }
}
@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
  .explaination {
    transition: 0.3s;
    background-color: rgba(255,255,255,0.8);
    -webkit-backdrop-filter: blur(10px);
    width: 30%;
    padding: 0 30px ;
    border-radius: 20px;
    backdrop-filter: blur(10px);
  }
}

@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
  .comment1 {

    background-color: rgba(255,255,255,0.8);
    -webkit-backdrop-filter: blur(10px);

    backdrop-filter: blur(10px);
  }
}


@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
  .question {

    background-color: rgba(255,255,255,0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
@media(max-width:900px)
{

  #slide3
  {

    background-position: center;
  }
  .everyproduct
  {transition: 0.5s;
    overflow: hidden;
    width: 25vw;
    height: 25vw;
    margin: 0 80px;
    border-radius: 100%;
    background-color:#3ebdb7;
  }
  .everyproduct:hover
  { transition:0.5s;
    width: 45vw;
    height: 45vw;
    border-radius: 10px;
  }
}
@media(max-width:788px)
{
  nav
  {
    min-height:10vh;
  }
}

@media(max-width:1230px)
{
  .aboutuspics
  {
    width: 30%;
    height: 380px;
  }
  .valuepics
  {
   height: 380px;
  }
}

  @media(max-width:1080px) and (min-width:400px)
  {
    #slide3
    {

      background-position: center;
    }
    .writeups
    {
      margin-top: 17vh;
      left:20%;
      right: 0px;
    }
    .writeAboutus
    {
      padding: 12% 12% 12% 24%;

    }
    .valuewriteup
    {
      padding: 100px 18% 100px 12%;
    }
    .valuewrites
    {
      margin: 120px 0 0 50px;
    }

  }

  @media only screen and (min-width:400px) and (max-width:850px)
  {
    #video
    {
      height: 100vh;
      width:100%;
    }
    #slide2,#slide3
    {
      display: none;
    }

    nav
    {
      display: none;
    }
    .boo h1
    {
      font-size: 8vw;
      padding-right:0;
    }
    .boo p
    {
      padding-right:0;
      font-size: 4vw;
    }
    .aboutuspics,.valuepics
    {

      background-position: center;
      top:21vh;
      width: 35vw;
      height: 28vh;
    }
    .valuewriteup,.writeAboutus
    {
      padding-top: 10vh;
      padding-bottom:5vh;
    }
    .valuewriteup
    {
      padding-right: 16vw;
      padding-left: 0;
    }
    .main-content img
    {
      position: relative;

    }
    .btn{
      font-size: 1.8vw;
      padding: 1.8vw 9vw;
      top:5vw;
    }
    .all_product h1
    {
      padding: 5vw 0 0 10vw;
      color:black;
      font-size: 4.4vw;
    }
    .andmore h1
    {
      padding: 0;
    }
    .viewproducts {
    border-radius: 5px;
    width: 25vw;
    height: 5vh;
    margin: 55px;
    font-size: 10px;
    }
    .writeAboutus h1 {
      font-size: 29px;
    }

    .writeAboutus p
    {
      font-size: 18px;
    }
    .writeAboutus h2 {
    font-size: 7vw;
    margin: 0;
   }
    .drugs_list
    {
      padding: 19px;
    }
    .drugs_list h3,.andmore h1
    {
      font-size: 5vw;
    }

    .product_icon
    {
      width: 10%;
    }

    .Reviewstitle h1
    {
      font-size: 25px;
    }
    .Reviewstitle h1
    {
      font-size: 30px;
      text-align: center;
    }
    .description
    {
      padding: 0;
    }
    .description h2
    {
      font-size: 17px;
    }
    .reviews
    {
      background-color: none;
      background: none;
      margin-left: 20%;
    }
    .picture
    {
      width: 50%;
      height: 20%;
    }
    .description p
    {
      font-size: 25px;
      line-height: 35px;
    }
    .companyReviews
    {
      height: 700px;
    }
    #navbar
    {
      padding:0;

    }
    .averxlogo
    {
      width: 70px;
      height: 70px;
      margin-bottom: 1px;
    }
    .averxwrite
    {
      width: 60px;
      height: auto;
    }
    .anchortags
    {
      display: none;
    }
    .contact a
    {
      font-size: 15px;
    }
  }


::-webkit-scrollbar{
  width: 8px;

  background:rgba(0,0,0,1);

}
::-webkit-scrollbar-track{
  -webkit-box-shadow:inset 0 0 6px rgba(255,255,255,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px; -webkit-box-shadow:outset 0 0 6px 20px rgba(0,0,0,0.3);
  background: #d6e0f0;
}
